---
http_interactions:
- request:
    method: get
    uri: https://api.tomorrow.io/v4/weather/forecast?apikey=LiHcMtyFj9f7nrXFku1OcQ5fDGsQhI3X&fields%5B%5D=temperature&fields%5B%5D=precipitation&location=New+York&timesteps=1d&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-correlation-id:
      - ba3618e6-ddd8-462d-a28d-4ab649d93ded
      x-db-credits-cost:
      - '13'
      x-ratelimit-remaining-plan-5f857927f9d5bdc6c63abb67:
      - '10'
      x-ratelimit-remaining-plan-5f96c370732c89cb4d9a98e8:
      - '3'
      x-ratelimit-remaining-plan-5fa4047f4acee993fbd7399d:
      - '3'
      x-ratelimit-remaining-plan-5fb2a269785f8043656f245e:
      - '10'
      x-ratelimit-remaining-plan-600d6ce482ff404e9a7a4c0c:
      - '5'
      x-ratelimit-remaining-plan-600d73bef98f624e9adcf465:
      - '5'
      x-ratelimit-remaining-plan-600d742fdee75e4e9aab6661:
      - '5'
      x-ratelimit-remaining-plan-6036283133bb2ff6d4bd82a7:
      - '3'
      x-ratelimit-remaining-plan-606d86d0a26c4d7df907bc7a:
      - '5'
      x-ratelimit-remaining-plan-609d458bdd3d437ff19fd44f:
      - '5'
      x-ratelimit-remaining-plan-60d46beae90c3b3549a59ff3:
      - '1'
      x-ratelimit-remaining-plan-60f00adf8d481f9421462962:
      - '3'
      x-ratelimit-remaining-plan-60f00d40803f8e9421c5a7f8:
      - '5'
      x-ratelimit-remaining-plan-60f58bbc299fbc36c91529aa:
      - '5'
      x-ratelimit-remaining-plan-648b3f22ef567da8b7fb4599:
      - '3'
      x-ratelimit-remaining-plan-649ab4540000000000b71412:
      - '3'
      x-ratelimit-remaining-web-app:
      - '500000'
    body:
      encoding: UTF-8
      string: '{"timelines":{"daily":[{"time":"2025-05-11T10:00:00Z","values":{"cloudBaseAvg":5.4,"cloudBaseMax":9.9,"cloudBaseMin":0,"cloudCeilingAvg":5.4,"cloudCeilingMax":9.9,"cloudCeilingMin":0,"cloudCoverAvg":1,"cloudCoverMax":6,"cloudCoverMin":0,"dewPointAvg":37.8,"dewPointMax":39.8,"dewPointMin":35.2,"evapotranspirationAvg":0.009,"evapotranspirationMax":0.014,"evapotranspirationMin":0.001,"evapotranspirationSum":0.21,"freezingRainIntensityAvg":0,"freezingRainIntensityMax":0,"freezingRainIntensityMin":0,"humidityAvg":63,"humidityMax":75,"humidityMin":51,"iceAccumulationAvg":0,"iceAccumulationLweAvg":0,"iceAccumulationLweMax":0,"iceAccumulationLweMin":0,"iceAccumulationLweSum":0,"iceAccumulationMax":0,"iceAccumulationMin":0,"iceAccumulationSum":0,"moonriseTime":"2025-05-11T23:41:35Z","moonsetTime":"2025-05-11T08:54:58Z","precipitationProbabilityAvg":0,"precipitationProbabilityMax":0,"precipitationProbabilityMin":0,"pressureSeaLevelAvg":30.34,"pressureSeaLevelMax":30.37,"pressureSeaLevelMin":30.28,"pressureSurfaceLevelAvg":29.91,"pressureSurfaceLevelMax":29.96,"pressureSurfaceLevelMin":29.85,"rainAccumulationAvg":0,"rainAccumulationMax":0,"rainAccumulationMin":0,"rainAccumulationSum":0,"rainIntensityAvg":0,"rainIntensityMax":0,"rainIntensityMin":0,"sleetAccumulationAvg":0,"sleetAccumulationLweAvg":0,"sleetAccumulationLweMax":0,"sleetAccumulationLweMin":0,"sleetAccumulationLweSum":0,"sleetAccumulationMax":0,"sleetAccumulationMin":0,"sleetIntensityAvg":0,"sleetIntensityMax":0,"sleetIntensityMin":0,"snowAccumulationAvg":0,"snowAccumulationLweAvg":0,"snowAccumulationLweMax":0,"snowAccumulationLweMin":0,"snowAccumulationLweSum":0,"snowAccumulationMax":0,"snowAccumulationMin":0,"snowAccumulationSum":0,"snowDepthAvg":0,"snowDepthMax":0,"snowDepthMin":0,"snowDepthSum":0,"snowIntensityAvg":0,"snowIntensityMax":0,"snowIntensityMin":0,"sunriseTime":"2025-05-11T09:51:00Z","sunsetTime":"2025-05-12T00:08:00Z","temperatureApparentAvg":50.3,"temperatureApparentMax":56.2,"temperatureApparentMin":45.1,"temperatureAvg":50.3,"temperatureMax":56.2,"temperatureMin":45.1,"uvHealthConcernAvg":1,"uvHealthConcernMax":3,"uvHealthConcernMin":0,"uvIndexAvg":2,"uvIndexMax":7,"uvIndexMin":0,"visibilityAvg":9.93,"visibilityMax":9.94,"visibilityMin":9.7,"weatherCodeMax":1000,"weatherCodeMin":1000,"windDirectionAvg":242,"windGustAvg":10.8,"windGustMax":23.3,"windGustMin":4.7,"windSpeedAvg":8.2,"windSpeedMax":13.4,"windSpeedMin":4.7}},{"time":"2025-05-12T10:00:00Z","values":{"cloudBaseAvg":0.6,"cloudBaseMax":2.1,"cloudBaseMin":0,"cloudCeilingAvg":2.2,"cloudCeilingMax":7,"cloudCeilingMin":0,"cloudCoverAvg":40,"cloudCoverMax":100,"cloudCoverMin":0,"dewPointAvg":51.5,"dewPointMax":59.3,"dewPointMin":36.7,"evapotranspirationAvg":0.007,"evapotranspirationMax":0.011,"evapotranspirationMin":0.004,"evapotranspirationSum":0.177,"freezingRainIntensityAvg":0,"freezingRainIntensityMax":0,"freezingRainIntensityMin":0,"humidityAvg":6[...]
