---
http_interactions:
- request:
    method: get
    uri: https://api.tomorrow.io/v4/weather/realtime?apikey=LiHcMtyFj9f7nrXFku1OcQ5fDGsQhI3X&fields%5B%5D=temperature&fields%5B%5D=precipitation&location=New+York&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-correlation-id:
      - 9aaa436c-b8ce-42ed-bb75-6bfea61c5f75
      x-db-credits-cost:
      - '8'
      x-ratelimit-remaining-plan-5f857927f9d5bdc6c63abb67:
      - '10'
      x-ratelimit-remaining-plan-5f96c370732c89cb4d9a98e8:
      - '3'
      x-ratelimit-remaining-plan-5fa4047f4acee993fbd7399d:
      - '3'
      x-ratelimit-remaining-plan-5fb2a269785f8043656f245e:
      - '10'
      x-ratelimit-remaining-plan-600d6ce482ff404e9a7a4c0c:
      - '5'
      x-ratelimit-remaining-plan-600d73bef98f624e9adcf465:
      - '5'
      x-ratelimit-remaining-plan-600d742fdee75e4e9aab6661:
      - '5'
      x-ratelimit-remaining-plan-6036283133bb2ff6d4bd82a7:
      - '3'
      x-ratelimit-remaining-plan-606d86d0a26c4d7df907bc7a:
      - '5'
      x-ratelimit-remaining-plan-609d458bdd3d437ff19fd44f:
      - '5'
      x-ratelimit-remaining-plan-60d46beae90c3b3549a59ff3:
      - '3'
      x-ratelimit-remaining-plan-60f00adf8d481f9421462962:
      - '3'
      x-ratelimit-remaining-plan-60f00d40803f8e9421c5a7f8:
      - '5'
      x-ratelimit-remaining-plan-60f58bbc299fbc36c91529aa:
      - '5'
      x-ratelimit-remaining-plan-648b3f22ef567da8b7fb4599:
      - '3'
      x-ratelimit-remaining-plan-649ab4540000000000b71412:
      - '3'
      x-ratelimit-remaining-web-app:
      - '500000'
    body:
      encoding: UTF-8
      string: '{"data":{"time":"2025-05-11T22:30:00Z","values":{"cloudBase":9.9,"cloudCeiling":9.9,"cloudCover":0,"dewPoint":38.7,"freezingRainIntensity":0,"humidity":52,"precipitationProbability":0,"pressureSeaLevel":30.35,"pressureSurfaceLevel":29.94,"rainIntensity":0,"sleetIntensity":0,"snowIntensity":0,"temperature":56.2,"temperatureApparent":56.2,"uvHealthConcern":0,"uvIndex":0,"visibility":9.94,"weatherCode":1000,"windDirection":278,"windGust":12.2,"windSpeed":10.9}},"location":{"lat":43.15616989135742,"lon":-75.8449935913086,"name":"New
        York, United States","type":"administrative"}}'
  recorded_at: Sun, 11 May 2025 22:30:22 GMT
recorded_with: VCR 6.3.1
