---
http_interactions:
- request:
    method: get
    uri: https://api.tomorrow.io/v4/weather/forecast?apikey=LiHcMtyFj9f7nrXFku1OcQ5fDGsQhI3X&fields%5B%5D=temperature&location=10001&timesteps=1d&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-correlation-id:
      - 552bf961-09f3-4d0f-9a6e-2b6a4853c368
      x-db-credits-cost:
      - '11'
      x-ratelimit-remaining-plan-5f857927f9d5bdc6c63abb67:
      - '10'
      x-ratelimit-remaining-plan-5f96c370732c89cb4d9a98e8:
      - '3'
      x-ratelimit-remaining-plan-5fa4047f4acee993fbd7399d:
      - '3'
      x-ratelimit-remaining-plan-5fb2a269785f8043656f245e:
      - '10'
      x-ratelimit-remaining-plan-600d6ce482ff404e9a7a4c0c:
      - '5'
      x-ratelimit-remaining-plan-600d73bef98f624e9adcf465:
      - '5'
      x-ratelimit-remaining-plan-600d742fdee75e4e9aab6661:
      - '5'
      x-ratelimit-remaining-plan-6036283133bb2ff6d4bd82a7:
      - '3'
      x-ratelimit-remaining-plan-606d86d0a26c4d7df907bc7a:
      - '5'
      x-ratelimit-remaining-plan-609d458bdd3d437ff19fd44f:
      - '5'
      x-ratelimit-remaining-plan-60d46beae90c3b3549a59ff3:
      - '2'
      x-ratelimit-remaining-plan-60f00adf8d481f9421462962:
      - '3'
      x-ratelimit-remaining-plan-60f00d40803f8e9421c5a7f8:
      - '5'
      x-ratelimit-remaining-plan-60f58bbc299fbc36c91529aa:
      - '5'
      x-ratelimit-remaining-plan-648b3f22ef567da8b7fb4599:
      - '3'
      x-ratelimit-remaining-plan-649ab4540000000000b71412:
      - '3'
      x-ratelimit-remaining-web-app:
      - '500000'
    body:
      encoding: UTF-8
      string: '{"timelines":{"daily":[{"time":"2025-05-11T22:00:00Z","values":{"cloudBaseAvg":0.9,"cloudBaseMax":1.5,"cloudBaseMin":0,"cloudCeilingAvg":2.9,"cloudCeilingMax":7.2,"cloudCeilingMin":0,"cloudCoverAvg":65,"cloudCoverMax":100,"cloudCoverMin":0,"dewPointAvg":59.8,"dewPointMax":62,"dewPointMin":56.2,"evapotranspirationAvg":0.005,"evapotranspirationMax":0.008,"evapotranspirationMin":0.001,"evapotranspirationSum":0.109,"freezingRainIntensityAvg":0,"freezingRainIntensityMax":0,"freezingRainIntensityMin":0,"humidityAvg":70,"humidityMax":92,"humidityMin":49,"iceAccumulationAvg":0,"iceAccumulationLweAvg":0,"iceAccumulationLweMax":0,"iceAccumulationLweMin":0,"iceAccumulationLweSum":0,"iceAccumulationMax":0,"iceAccumulationMin":0,"iceAccumulationSum":0,"moonriseTime":"2025-05-11T09:21:46Z","moonsetTime":"2025-05-11T20:33:34Z","precipitationProbabilityAvg":0,"precipitationProbabilityMax":0,"precipitationProbabilityMin":0,"pressureSeaLevelAvg":29.88,"pressureSeaLevelMax":29.91,"pressureSeaLevelMin":29.85,"pressureSurfaceLevelAvg":29.78,"pressureSurfaceLevelMax":29.85,"pressureSurfaceLevelMin":29.72,"rainAccumulationAvg":0,"rainAccumulationMax":0,"rainAccumulationMin":0,"rainAccumulationSum":0,"rainIntensityAvg":0,"rainIntensityMax":0,"rainIntensityMin":0,"sleetAccumulationAvg":0,"sleetAccumulationLweAvg":0,"sleetAccumulationLweMax":0,"sleetAccumulationLweMin":0,"sleetAccumulationLweSum":0,"sleetAccumulationMax":0,"sleetAccumulationMin":0,"sleetIntensityAvg":0,"sleetIntensityMax":0,"sleetIntensityMin":0,"snowAccumulationAvg":0,"snowAccumulationLweAvg":0,"snowAccumulationLweMax":0,"snowAccumulationLweMin":0,"snowAccumulationLweSum":0,"snowAccumulationMax":0,"snowAccumulationMin":0,"snowAccumulationSum":0,"snowIntensityAvg":0,"snowIntensityMax":0,"snowIntensityMin":0,"sunriseTime":"2025-05-11T21:15:00Z","sunsetTime":"2025-05-12T10:25:00Z","temperatureApparentAvg":70.7,"temperatureApparentMax":76.5,"temperatureApparentMin":64.5,"temperatureAvg":70.7,"temperatureMax":76.5,"temperatureMin":64.5,"uvHealthConcernAvg":0,"uvHealthConcernMax":1,"uvHealthConcernMin":0,"uvIndexAvg":1,"uvIndexMax":5,"uvIndexMin":0,"visibilityAvg":9.94,"visibilityMax":9.94,"visibilityMin":9.94,"weatherCodeMax":1001,"weatherCodeMin":1001,"windDirectionAvg":96,"windGustAvg":12,"windGustMax":22.1,"windGustMin":4.9,"windSpeedAvg":7.2,"windSpeedMax":10.7,"windSpeedMin":3.6}},{"time":"2025-05-12T22:00:00Z","values":{"cloudBaseAvg":0.5,"cloudBaseMax":1.2,"cloudBaseMin":0,"cloudCeilingAvg":0.1,"cloudCeilingMax":1.4,"cloudCeilingMin":0,"cloudCoverAvg":24,"cloudCoverMax":94,"cloudCoverMin":0,"dewPointAvg":67.1,"dewPointMax":69,"dewPointMin":63,"evapotranspirationAvg":0.005,"evapotranspirationMax":0.008,"evapotranspirationMin":0.002,"evapotranspirationSum":0.119,"freezingRainIntensityAvg":0,"freezingRainIntensityMax":0,"freezingRainIntensityMin":0,"humidityAvg":75,"[...]
